@page
@model AddRoomModel
@using (Html.BeginForm("OnPost", "AddRoom"))
{
    <div>
        <label asp-for="Room.RoomName">Room Name:</label>
        <input asp-for="Room.RoomName" required />
        <span asp-validation-for="Room.RoomName"></span>
    </div>
    <div>
        <label asp-for="Room.Capacity">Capacity:</label>
        <input asp-for="Room.Capacity" type="number" required />
        <span asp-validation-for="Room.Capacity"></span>
    </div>
    <button type="submit">Add Room</button>
}