
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using FitnessChallengeApp.Models
@using FitnessChallengeApp.Pages
@inject SignInManager<ApplicationUser> SignInManager


<div class="container text-center">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to FitnessChallengeApp</h1>
            <p class="lead">Take your fitness journey to the next level with our challenges and community.</p>
            <p>Whether you're a beginner or a seasoned athlete, we have challenges for all fitness levels.</p>
            <a href="/Challenges" class="btn btn-primary btn-lg">Explore Challenges</a>
        </div>
        <div class="col-md-6" style="padding:10px 60px;">
            <img src="/images/fitness1.jpg" class="img-fluid rounded" alt="Fitness Image">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Track Your Progress</h3>
            <p>Stay motivated by tracking your progress and seeing how far you've come.</p>
            @if (SignInManager.IsSignedIn(User))
            {
                <a href="/Profile" class="btn btn-outline-secondary">View Profile</a>
            }
            else
            {
                <a href="/Identity/Account/Login" class="btn btn-outline-secondary">Login to View Profile</a>
            }
        </div>
        <div class="col-md-4">
            <h3>Join Challenges</h3>
            <p>Challenge yourself and compete with others to achieve your fitness goals.</p>
             @if (SignInManager.IsSignedIn(User))
            {
                <a href="/Challenges" class="btn btn-outline-secondary">Explore Challenges</a>
            }
            else
            {
                <a href="/Identity/Account/Login" class="btn btn-outline-secondary">Login to Explore Challenges</a>
            }
            
        </div>
        <div class="col-md-4">
            <h3>Connect with Others</h3>
            <p>Connect with like-minded individuals, share tips, and support each other on your fitness journey.</p>
            @if (SignInManager.IsSignedIn(User))
            {
                <a href="/Profile" class="btn btn-outline-secondary">View Community</a>
            }
            else
            {
                <a href="/Identity/Account/Login" class="btn btn-outline-secondary">Login to View Community</a>
            }
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Featured Challenges</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/images/abs.jpg" class="card-img-top" alt="Challenge 1">
                        <div class="card-body">
                            <h5 class="card-title">30-Day Ab Challenge</h5>
                            <p class="card-text">Get those abs you've always wanted with this intense 30-day challenge.</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a href="/ChallengeDetails/7" class="btn btn-primary">Learn More</a>
                            }
                            else
                            {
                                <a href="/Identity/Account/Login" class="btn btn-primary">Login to Learn More</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/images/runing.jpg" class="card-img-top" alt="Challenge 2">
                        <div class="card-body">
                            <h5 class="card-title">Couch to 5K</h5>
                            <p class="card-text">Start your running journey with this beginner-friendly Couch to 5K challenge.</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a href="/ChallengeDetails/8" class="btn btn-primary">Learn More</a>
                            }
                            else
                            {
                                <a href="/Identity/Account/Login" class="btn btn-primary">Login to Learn More</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="/images/yoga.jpg" class="card-img-top" alt="Challenge 3">
                        <div class="card-body">
                            <h5 class="card-title">Yoga for Beginners</h5>
                            <p class="card-text">Discover the benefits of yoga and improve your flexibility and strength.</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a href="/ChallengeDetails/9" class="btn btn-primary">Learn More</a>
                            }
                            else
                            {
                                <a href="/Identity/Account/Login" class="btn btn-primary">Login to Learn More</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

